<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAG BASED SEARCH/RECOMMENDATION ENGINE</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div id="container">
        <div id="header-block">
            <h1 class="header-text">RAG/Embedding Based Search Engine</h1>
        </div>
        <div class="divider">
            <br>
        </div>
        <div id="user-input-block">
            <input type="text" id="user-query" placeholder="What you want to buy?">
            <a href="" id="a-btn">
                <button id="btn">Search</button>
            </a>
        </div>
        <div class="divider">
            <hr>
        </div>
        <div id="products-block">     
        </div>
    </div>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>